

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}



section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}



.loadingGif {
    z-index: 55;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/******************* BUTTONS START *******************/

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 1.3em;
    -moz-osx-font-smoothing: grayscale;
    min-width: 10rem;
}

.posButton{
    background: -webkit-linear-gradient(top, #9aea43, #00a82d);
    border-color: #00a82d;
}
.posButton:hover{
    background: rgba(0, 168, 45, 0.8);
}

.stdButton{
    background: -webkit-linear-gradient(top, #67e8ff, #3498db);
    border-color: #3498db;
}

.stdButton:hover{
    background: rgba(52, 152, 219, 0.8);
}

.negButton{
    background: -webkit-linear-gradient(top, #f66743, #c0392b);
    border-color: #c0392b;
}

.negButton:hover{
    background: rgba(192, 57, 43, 0.8);
}
/******************* BUTTONS END *******************/


/******************* PROFILE PICTURE UPLOAD BUTTON START *******************/

.pic-upload {
    display: block;
    margin: 5px auto 20px;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.pic-upload:hover{
    background: -webkit-linear-gradient(top, rgba(103, 232, 255, 0.80), rgba(92, 162, 231, 0.8));
}

.pic-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.pic-upload input {
    overflow: hidden;
    display: none;
    width: 0;
}

/******************* PROFILE PICTURE UPLOAD BUTTON END *******************/


/******************* FORMS START *******************/

form {
    display: flex;
    flex-direction: column;
    /*gap: 5px;*/
}
.register-form {
    margin: 0 auto;
    flex-direction: row;
    /*width: 50%;*/
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.login-form {
    margin: 0 auto;
    width: 50%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 47%;
}

.field {
    margin: 10px 0;
}

input {
    position: relative;
    /* padding: 12px; */
    margin-bottom: 10px;
    width: 94%;
    /* font-weight: 600; */
    /* border: 0; */
    /* outline: 0; */
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    line-height: 1.5;
}
input::placeholder {
    color: #a7a7a7;
}

.required:after {
    content:" *";
    color: red;
}
/******************* FORMS END *******************/



/******************* ALERT BOXES START *******************/

.message {
    z-index: 55;
    position: fixed;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 4s ease-out;

}

.message-hide {
    display: none;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    40% { opacity: 1; }
    100% { opacity: 0; }
}

.alert-box {
    color:#555;
    border-radius:30px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:30px;
    padding:10px 10px 10px 90px;
    max-width: fit-content;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.success {
    background:#e9ffd9 url("../images/success.png") no-repeat 6px 55%;
    border:1px solid #a6ca8a;
    background-size: 70px;
}

.warning {
    background:#fff8c4 url("../images/warning.png") no-repeat 6px 55%;
    border:1px solid #f2c779;
    background-size: 70px;
}

.error {
    background:#ffecec url("../images/error.png") no-repeat 6px 55%;
    border:1px solid #f5aca6;
    background-size: 70px;
}

/******************* ALERT BOXES END *******************/


/******************* TABLES END *******************/

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
td {

    height: 40px;
}
th {
    background-color: #f2f2f2;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.table-sortable img {
    cursor: pointer;
    width: 25px;
}

.actionField {
    width: 90px;
    justify-content: space-around;
    display: flex;
}


/******************* TABLES END *******************/