

.editPage {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 720px;
    padding: 10px 10px 10px 10px;
}

.editUserForm {
    width: 25rem;
}

.editUserPic {
    max-width: 20rem;
}

.editUserPic img {
    max-width: 20rem;
}

.editBorder {
    border: #555555 3px solid;
    border-radius: 10px;
}

.logOutBtn {
    width: 15px;
    color: #7bbe46;
    padding-right: 10px;
}