

.editPage {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 720px;
  padding: 10px 10px 10px 10px;
}

.editUserForm {
  width: 25rem;
}

.editUserPic {
  max-width: 20rem;
}

.editUserPic img {
  max-width: 20rem;
}

.editBorder {
  border: #555555 3px solid;
  border-radius: 10px;
}

.logOutBtn {
  width: 15px;
  color: #7bbe46;
  padding-right: 10px;
}

.passwordForm {
  border-top: solid #989998 2px;
  border-top-style: dotted;
  border-left: solid #989998 2px;
  border-left-style: dotted;
  padding: 5px 5px 0 10px;
}
.passwordForm button {
  background: #70c6ff;
  margin: 0 14px -45px -1px;
}

.mapDiv {
  display: block;
  width: 500px;
  height: 380px;
  /*margin-bottom: 0;*/
}

