

.editPage {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 720px;
  padding: 10px 10px 10px 10px;
}

.editUserForm {
  width: 25rem;
}

.editUserPic {
  max-width: 20rem;
}

.editUserPic img {
  max-width: 20rem;
}

.editBorder {
  border: #555555 3px solid;
  border-radius: 10px;
}

.logOutBtn {
  width: 15px;
  color: #7bbe46;
  padding-right: 10px;
}

.passwordForm {
  border-top: solid #989998 2px;
  border-top-style: dotted;
  border-left: solid #989998 2px;
  border-left-style: dotted;
  padding: 5px 5px 0 10px;
}
.passwordForm button {
  margin: 0 14px -45px -1px;
}

.mapDiv {
  display: block;
  width: 800px;
  height: 600px;
}

.mapForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
}

.mapForm div{
  display: flex;
  height: fit-content;
}

.noteArea {
  width: 800px;
  height: 400px;
  white-space: pre-wrap;
}

.displayNotes {
  white-space:pre-wrap;
  word-break: break-all;
}

/******************* FILE UPLOAD BUTTON START *******************/

.file-upload {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  width: fit-content;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  color: black;
}

.file-upload:hover{
  background: -webkit-linear-gradient(top, rgba(154, 234, 67, 0.80), rgba(0, 168, 45, 0.8));
}

.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.file-upload input {
  overflow: hidden;
  display: none;
  width: 0;
}

/******************* FILE UPLOAD BUTTON END *******************/


.fileStorageMeter {
  color: black;
  display: flex;
  justify-content: space-between;
}

.fileStorageMeter p {
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}